@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.noto-sans-normal {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  margin: 0;
  padding: 0;
}
/* nav styles */
.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.nav ul h3 {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}
.nav ul a {
  text-decoration: none;
  color: rgb(13, 19, 33);
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  padding: 17px 24px;
  opacity: 0.8;
}
/* hero section styles */
.hero {
  max-width: 1500px;
  padding: 26px 221px;
  text-align: center;
  background-image: url(assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero img {
  width: 230px;
}
.hero button {
  margin: 32px auto;
  color: rgb(255, 255, 255);
  font-size: 21px;
  font-weight: 600;
  line-height: 23px;
  padding: 21px 24px;
  border: none;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}
/* section styles */
.section-title {
  color: rgb(13, 19, 33);
  font-size: 50px;
  font-weight: 800;
  line-height: 68px;
}

.section-description {
  color: rgb(13, 19, 33);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
/* about section styles */
.about {
  margin: 120px auto;
  text-align: center;
}
.about-content {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 80px;
}
.about-me {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 50px;
  /* border: 1px solid black; */
  border-radius: 16px;
  gap: 100px;
}
.about-me h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
}
.about-me p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  opacity: 0.7;
}
.about-me button {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.about-me img {
  width: 278px;
}
